@import "colors.css";

/* Formatting */


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
}
button {
	padding: 0;

	background: none;
    border: none;
    outline: none;

	cursor: pointer;
}
button:hover {
  filter: brightness(1.15);
}
input {
	width: 97%;
	height: 100%;

	font-size: 25px;

	padding: 0 10px;

	background: none;
    border: none;
    outline: none;

	cursor: pointer;
}
textarea {
	width: 97%;
	height: 100%;

	font-size: 25px;

	padding: 0 10px;

	background: none;
    border: none;
    outline: none;

	cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

dialog {
	border: 2px solid black;
	border-radius: 30px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

/* Assets */

.divider-line {
	display: block;
	height: 4px;
	width: 100px;
	background-color: var(--other-gold);
	margin: 5px 0 0 0;
	border: hidden;
}

.centre-line {
	margin: 5px auto 0 auto;
}

.textbox {
	width: 90%;
	height: 40px;

	margin: 10px auto auto auto;

	border: 1px solid black;
	border-radius: 50px;

	background-color: white;
}

/* Speical button */

.contactus-button {
    text-align: center;
    padding: 10px;
  
    margin: 5px auto 5px auto;
    border-radius: 10px;

    background-color: var(--other-lightgreen);

    width: 100px;
    height: min-content;

    color: var(--white);
    font-size: 16px;
	font-weight: 500;
}

.image-shadow {
	filter: drop-shadow(3px 5px 6px rgba(0, 0, 0, 0.4));
	filter: brightness(130%)
}

.image-shadow:hover {
	filter: brightness(200%)
}